<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="icon" href="Img/Icono2.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilos_carrito.css">
    <title>Carrito</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="./Iconos/style.css">

  
</head>

<body>

    <!--HEADER-->

    <header id="Grid_header">
        <section id="arriba">
            <div class="Flex__Cointainer">
                <div class="Flex__Cointainer Titulo">
                    <a href="index.html"><img src="Img/Logo2.png" width="50" alt="Logo"></a>
                    <h4><a href="index.html" id="SB">CARRITO  DE  HAMBURGUESAS</a></h4>
                </div>
                <span class="Menu__icon icon-menu3"></span>

                <nav class="Flex__Cointainer Menu">
                    <ul>
                        <li class="Nav__li"><a href="index.html" >Api</a></li>
                        <li class="Nav__li"><a href="agregar.html" >Agregar Productos</a></li>
                        <li class="Nav__li"><a href="lista.html" >Productos</a></li>
                        <li class="Nav__li"><a href="modificar.html" >Modificar Productos</a></li>
                        <li class="Nav__li"><a href="eliminar.html" >Eliminar</a></li>

                    </ul>
                </nav>
            </div>
        </section>
    </header>

    <!--CONTENIDO DE LA PAGINA-->
    <article class="contenedor_2">
      <div class="item1">
      </div>
  </article>    

    <article class="contenedor_2">
        <div id="app"class="item2">
            <!--<h1 >Carrito de compras</h1>-->

            <table>
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Carrito</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="producto in burgers" :key="producto.codigo">
                  <td align="center">{{ producto.codigo }}</td>
                  <td align="center">{{ producto.descripcion }}</td>
                  <td align="right">{{ producto.cantidad }}</td>
                  <td align="right">&nbsp; &nbsp; {{ producto.precio }}</td>
                  <td>
                    <button @click="agregarAlCarrito(producto)">&nbsp;&nbsp;<b>+</b>&nbsp;&nbsp;</button>
                    <button @click="restarDelCarrito(producto)">&nbsp;&nbsp;<b>-</b>&nbsp;&nbsp;</button>
                  </td>
                </tr>
              </tbody>
            </table>
        
            <div v-if="mostrarCarrito" >
              <h3>Productos en el carrito</h3>
              <table>
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in carrito" :key="item.codigo">
                    <td >{{ item.codigo }}</td>
                    <td >{{ item.descripcion }}</td>
                    <td align="right">{{ item.cantidad }}</td>
                    <td align="right">&nbsp; &nbsp; {{ item.precio }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        
            <div v-if="!mostrarCarrito" class="contenedor-centrado1">
              <button @click="obtenerCarrito">Mostrar Carrito</button>
            </div>
        
            <div class="contenedor-centrado">
              <a href="index.html">Menu principal</a>
            </div>
        
        
          </div>
        
          <script>
            //const URL = "http://127.0.0.1:5000/"
            const URL = "https://xtsulyts.pythonanywhere.com/"
        
            const app = Vue.createApp({
              data() {
                return {
                  burgers: [],
                  mostrarCarrito: false,
                  carrito: [],
                };
              },
              created() {
                this.obtenerProductos();
              },
              methods: {
                obtenerProductos() {
                  fetch(URL + 'burgers')
                    .then(response => response.json())
                    .then(data => {
                      this.burgers = data;
                    })
                    .catch(error => {
                      console.error(URL + 'burgers', error);
                      alert('Error al obtener los productos.');
                    });
                },
                agregarAlCarrito(producto) {
                  fetch(URL + 'carrito', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                      codigo: producto.codigo,
                      cantidad: 1, // Agregamos una unidad al carrito
                    }),
                  })
                    .then(response => response.json())
                    .then(data => {
                      alert(data.message);
                    })
                    .catch(error => {
                      console.error('Error al agregar el producto al carrito:', error);
                      alert('Error al agregar el producto al carrito.');
                    });
                },
                restarDelCarrito(producto) {
                  fetch(URL + 'carrito', {
                    method: 'DELETE',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                      codigo: producto.codigo,
                      cantidad: 1, // Restamos una unidad del carrito
                    }),
                  })
                    .then(response => response.json())
                    .then(data => {
                      alert(data.message);
                    })
                    .catch(error => {
                      console.error('Error al restar el producto del carrito:', error);
                      alert('Error al restar el producto del carrito.');
                    });
                },
                obtenerCarrito() {
        
                  fetch(URL + 'carrito')
                    .then(response => response.json())
                    .then(data => {
                      this.carrito = data;
                      this.mostrarCarrito = true;
                    })
                    .catch(error => {
                      console.error('Error al obtener el carrito:', error);
                      alert('Error al obtener el carrito.');
                    });
                },
              },
            });
        
            app.mount('#app');
          </script>
        </div>
      </article>

    <footer id="footer">

        <ul class="Flex__Cointainer" id="Redes">
            <li class="Redes__item"><a href="https://www.facebook.com/profile.php?id=100055273845013"
                    Target="_blank"><span class="icon-facebook2"></span></a></li>
            <li class="Redes__item"><a href="https://instagram.com/saint.burger?igshid=YmMyMTA2M2Y="
                    Target="_blank"><span class="icon-instagram"></span></a></li>
            <li class="Redes__item"><a href="" Target="_blank"><span class="icon-whatsapp"></span></a></li>
            <li class="Redes__item"><a href="https://github.com/codoacodo-unidad-1/Proyecto_SaintBuger_grupo2.git"
                    Target="_blank"><span class="icon-github"></span></a></li>

        </ul>

    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   

</body>

</html>